[flake8]
max-line-length = 88
extend-ignore = 
    # See https://black.readthedocs.io/en/stable/the_black_code_style.html
    E203,
    W503,
    # Issue with function calls in default arguments in tests
    B008
exclude = 
    .git,
    __pycache__,
    venv,
    venv_new,
    */venv/*,
    */venv_new/*,
    .pytest_cache,
    .mypy_cache,
    build,
    dist
per-file-ignores =
    # Ignore line too long in specific file
    app/tests/test_unit/test_db/test_session.py:E501 